# Built binary
openai-api

# env
.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# DS Store
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraformrc
terraform.rc
.terraform.lock.hcl

UTC--2024-09-25T15-09-07Z--8b54af7989407F3429607c7b609c3100B0E33278